# .gitignore
.env
node_modules
staticfiles
__pycache__
media/
myenv/images
media/vehicleimages
src
myenv.rar
.pyc
db.sqlite3
settings/migrations/0001_initial.py
vehicles/migrations/0006_merge_20260428_1534.py
settings/migrations/0002_sitesettings_safaricom_callback_url.py
