<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appSettings>
        <!-- Required settings -->
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <!-- Your django path -->
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Auto-auction" /> 
        <!-- Your djangoname.settings -->
        <add key="DJANGO_SETTINGS_MODULE" value="auctions.settings" />
    </appSettings>

    <system.webServer>
        <handlers>
            <add name="Autobid" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python312\python.exe|C:\inetpub\wwwroot\Auto-auction\myenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <httpRedirect enabled="false" destination="autobid.riverlong.com" />
        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS Redirect" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
        
        
    </system.webServer>
   
</configuration>
