
{% load static %}

{% block footer %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RVAS</title>

    <link rel="stylesheet" href="{% static 'vehicles/css/styles.css' %} ">
    <link rel="stylesheet" href="{% static 'vehicles/css/footer.css' %} ">
    <script src="{% static 'vehicles/js/index.js'%}"></script>

    <!--<link rel="stylesheet" href="{% static 'vehicles/css/details_style1.css' %} ">-->
    <meta charset="UTF-8">
    <title>Vehicle {{ vehicle.registration_no }}</title>

    <!-- Open Graph meta tags for sharing -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Vehicle {{ vehicle.registration_no }}">
    <meta property="og:description" content="Check out this vehicle: {{ vehicle.registration_no }}!">
    <meta property="og:image" content="{{ vehicle.image.url }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <link rel="icon" type="image/svg" href="{% static 'images/logo-autobid.svg' %}">
    <title>Riverlong | Autobid</title>
  </head>
  <footer class="footer bg-dark text-light py-4 ">
    <div class="container">
        <div class="row align-items-center">
            <!-- Opening Hours Section -->
            <div class="col-md-4 text-center text-md-left mb-3 mb-md-0">
                <h6 class="font-weight-bold">Opening Hours</h6>
                <p class="mb-1">Mon - Fri: 8:00 AM - 5:00 PM</p>
                <p>Sat: 8:00 AM - 12:00 PM</p>
            </div>

            <!-- Social Media Icons -->
            <div class="col-md-4 text-center mb-3 mb-md-0">
                <h6 class="font-weight-bold">Follow Us</h6>
                <div class="d-flex justify-content-center">
                    <a href="https://www.facebook.com/profile.php?id=61578592025685&mibextid=ZbWKwL" class="text-light mx-2"><i class="fab fa-facebook fa-lg"></i></a>
                    <a href="https://www.instagram.com/autobid_car_sales?igsh=aDVmejQyMmloemZs" class="text-light mx-2"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="https://www.tiktok.com/@autobid.car.sales?_t=ZM-909t8INaYGK&_r=1" class="text-light mx-2"><i class="fab fa-tiktok fa-lg"></i></a>
                    
                </div>
            </div>

            <!-- Contact Information -->
            <div class="col-md-4 text-center text-md-right">
                <h6 class="font-weight-bold">Contact Us</h6>
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt"></i> Fourways Junction, Kiambu Rd Total Petrol Station</li>
                    <li><i class="fas fa-envelope"></i> <a href="mailto:autobid@riverlong.com" class="text-light mb-2" style="text-decoration:none;">autobid@riverlong.com</a></li>
                    <li><i class="fas fa-phone"></i> <a href="tel:+2540701689319" class="text-light mt-2 " style="text-decoration:none;">+254701689319</a></li>
                </ul>
            </div>
        </div>

        <hr class="bg-light">

        <!-- Footer Bottom -->
        <div class="row">
            <div class="col text-center">
                <p class="mb-0">&copy; 2025 Riverlong Ltd. All Rights Reserved. Built by <a href="https://www.riverlong.com" class="text-warning font-weight-bold" style="text-decoration:none;">Riverlong IT</a></p>
            </div>
        </div>
    </div>
</footer>

  

{% endblock footer %}